{% extends 'base.html' %}

{% block content %}


<div class="row my-3">
  <div class="col-8 mx-auto">
    {% if is_paginated %}
    {% include 'partials/pagination.html' %}
    {% endif %}
    {% include 'partials/search.html' %}
    {% for task in tasks %}
    <div class="card my-3">
      <div class="card-header">
        {{task.task}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{task.description}}</h5>
        <p class="card-text"> {{task.status}} </p>
        <p class="card-text"> {{task.type}} </p>
        <a href="{% url 'task_view' task.pk %}" class="btn btn-primary">Подробнее</a>
        {% if user.is_authenticated %}
          <a href="{% url 'update_task' task.pk %}" class="btn btn-primary">Редактировать</a>
          <a href="{% url 'delete_task' task.pk %}" class="btn btn-primary">Удалить</a>
        {% endif %}
      </div>
    </div>
    {% empty %}
    <p>По данному запросу ничего не найдено</p>
    {% endfor %}

    {% if is_paginated %}

    {% include 'partials/pagination.html' %}

    {% endif %}
  </div>
</div>


{% endblock %}