{% extends 'base.html' %}


{% block content %}

<div class="row my-3">
    <div class="col-10">
      {% if user.is_authenticated %}
        <a href="{% url 'add_project' %}" class="btn btn-primary">Создать новый проект</a>
      {% endif %}
    </div>
</div>
<div class="row my-3">
  <div class="col-8 mx-auto">
    {% if is_paginated %}
    {% include 'partials/pagination.html' %}
    {% endif %}
    <h5>Список проектов</h5>
    {% for project in projects %}
    <div class="card my-3">
      <div class="card-header">
        {{project.project}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{project.description}}</h5>
        <p class="card-text"> {{project.start_date}} </p>
        <p class="card-text"> {{project.finish_date}} </p>

        <a href="{% url 'project_detail' project.pk %}" class="btn btn-primary">Подробнее</a>


      </div>
    </div>
    {% endfor %}
    {% if is_paginated %}

    {% include 'partials/pagination.html' %}

    {% endif %}
  </div>
</div>

{% endblock %}